.task_item {
    border: 5px solid red
}

.content_container {
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }

.task_box {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

body{
    height: 100vh;
}