body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

#header1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 5px solid red;
}

#list_container {
    border: 5px solid blue;
    width: 100%;
    display: flex;
}

.task_item {
    border: 5px solid green;
}

.wtf {
    width: 100%;
}

html, body, div {
    margin: 0;
    padding: 0;
}
  